# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Logs
*.log

# Database
*.db
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/

# Models
*.bin
*.pt
*.onnx

# Frontend
frontend/node_modules/
frontend/dist/